*,
*:before,
*:after {
    box-sizing: border-box;
    /* bedre padding i bokse*/
}


#hero {
    background-color: tan;
    height: 700px;
    background-image: url(img/hero.jpeg);
    background-size: cover;
    background-position: center;
}

.herobox {
    background-color: green;
    height: 300px;
}

/*
.card-img-top {
    height: 330px;
}
*/


#bamsehoved {
    background-color: grey;
    height: 700px;
}

#testimonials {
    background-color: gold;
    height: 350px;

}

#vinabonnement {
    background-color: darkred;
    height: 1800px;
}

#vinabonnement .card {
    height: 500px;
    border-radius: 0;
}

#footerpic {
    background-color: blueviolet;
    background-image: url(img/ph.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;

}

.slider {
    height: 200px;
}

.kant {
    border-bottom-color: #BAA136;
    border-bottom-style: solid;
}


.gr {
    background-color: #007962;
}

.bl {
    background-color: #00549B;
}

.ll {
    background-color: #653C77
}

footer {
    background-image: url(img/fot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-attachment: fixed;
}

footer p {
    color: white;
}

.ma {
    margin-right: auto;
    margin-left: auto;
}


.img-fluid {
    max-height: 400px;
}

/*  Background styling
.bg {
    background: no-repeat center center scroll;
    background-size: cover;
}
*/


/* Media queries */

/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {


    /* END "sm-" 576px and up */
}

/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {


    /* END "md-" 768px and up */
}

/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {



    /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {




    /* END "xl-" 1200px and up */
}
